
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
.fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  /* nav starts here */
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 31px 160px;
  }
  .btn{
    background-color: #fff;
    color: #006A50;
    border: 1px solid #006A50;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 32px;
  }
  .btn:hover{
    background-color: #006A50;
    color: #fff;
  }
  /* nav ends here */
  
  /* banner starts here */
  .banner .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 .banner-content .banner-title{
    color: #808080;
  }
  .banner{
    background-color: #C6E4D6;
    border-radius: 20px;
    margin: 20px 160px;
  }
  .btn-primary{
    background-color: #006A50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 24px;
  }
  .banner-description{
    color: #0E0E0E;
    font-weight: 600;
    font-size: 40px;
    margin-left: 0;
  }
  .banner-content{
    max-width: 600px;
    margin: 117px 0px 117px 60px;
  }
  /* banner ends here */
.vision{
    margin: 80px 160px;
}
  .vision h2{
color: #0E0E0E;
  }
  .vision p{
    color: #808080;
    margin-top: 24px;
    margin-left: 0;
  }
  /* cards section starts here */
  .cards{
    display: flex;
    justify-content: space-around;
    margin: 32px 160px;
  }
.card1{
    background-color: #F1F1F3;
    border-radius: 10px;
    height: 325px;
    margin-right: 24px;
  }
  .card2{
    background-color: #C6E4D6;
    border-radius: 10px;
    margin-right: 24px;
  }
  .card3{
    background-color: #F7EBCF;
    border-radius: 10px;
}

  .card1 h3{
    color: #0E0E0E;
    margin-top: 24px;
  }
  .card1 p{
    color: gray;
    margin-bottom: 24px;
  }
  .card1 h3,p{
    margin-top: 24px;
    margin-left: 32px;
  }
  .card1 p{
    margin-bottom: 64px;
  }
  .card1 img{
    margin-left: 32px;
    margin-top: 32px;
  }
  .btn-1{
    color: #fff;
    background-color: #006A50;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 32px;
  }
 .btn-1:hover{
    background-color: #0E0E0E;
  }
 .btn-2{
    color: #fff;
    background-color: #09a15c;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 32px;
    text-align: center;
  }
  .btn-2:hover{
    background-color: seagreen;
  }
  .card2 h3{
    color: #0E0E0E;
    margin-top: 24px;
  }
  .card2 p{
    color: gray;
    margin-bottom: 24px;
  }
  .card2 h3,p{
    margin-top: 24px;
    margin-left: 32px;
  }
  .card2 p{
    margin-bottom: 64px;
  }
  .card2 img{
    margin-left: 32px;
    margin-top: 32px;
  }
  .card3 h3{
    color: #0E0E0E;
  }
  .card3 p{
    color: gray;
  }
  .card3 h3,p{
    margin-top: 24px;
    margin-left: 32px;
  }
  .card3 p{
    margin-bottom: 64px;
  }
  .card3 img{
    margin-left: 32px;
    margin-top: 32px;
  }
  .btn-3{
    color: #fff;
    background-color: #FFC239;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 32px;
  }
  .btn-3:hover{
    background-color: #FFA500;
  }
 /* cards section ends here */
 /* note starts here */ 
 .note{
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 184px;
    margin: 48px 160px;
    background-image: url(../images/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
 }
 .note h2{
    color: #0E0E0E;
    margin: 24px 24px;
 }
 .note p{
    color: #808080;
    margin: 24px;
 }
 .note #text{
margin-top: 48px;
 }
 /* note ends here */

 /* recent part starts here */
 .recent{
    margin: 48px 160px;
 }
 .recent p{
    color: #808080;
    margin: 24px;
 }
 .recent h2{
    color: #0E0E0E;
   font-size: 30px;
   margin: 24px 24px;
 }
 /* article starts here */
 .article{
    display: flex;
    justify-content: space-around;
    margin: 48px 160px;
 }
 .article  .cnt{
  margin-left: 32px;
 }
.article .cnt h2{
margin-bottom: 12px;
margin-left: 32px;
}
.article .cnt p{
    margin-bottom: 32px;
    color: gray;
    max-width: 744px;
}
.article .cnt{
    margin-top: 32px;
}
.article .cnt img{
    margin-left: 32px;
}
.article .icon img{
    margin-left: 32px;
    margin-top: 48px;
}
.article-2 .icon-2 img{
    margin-right: 32px;
    margin-top: 48px;
}
 .article-2{
    display: flex;
    justify-content: space-around;
    margin: 32px 160px;
 }
 .article-2  .cnt-2{
  margin-left: 32px;
  margin-top: 32px;
  max-width: 744px;
 }
.article-2 .cnt-2 h2{
margin-bottom: 12px;
margin-right: 32px;
}
.article-2 .cnt-2 p{
    margin-bottom: 32px;
    color: gray;
    margin-left: 0;
}
.article-2 .cnt-2 img{
    margin-right: 32px;
}
.article-2 .cnt-2 .btn-2{
    margin-left: 0;
}
.article, .article-2{
 background-color: #F1F1F3;
 width: 1280px;
 height: 400px;
}
.article .cnt{
margin-left: 48px;
}
.price{
    display: flex;
    justify-content: space-evenly;
    margin: 80px 200px;
}
.donate h2{
text-align: center;
}
.donate .btn-2{
   margin: 32px 710px;
   display: block;
}
.tk-1,.tk-2,.tk-3{
   background-color: gray;
   border-radius: 10px;
   height: 128px;
   width: 240px;
   color: #fff;
   text-align: center;
   padding: 32px;
}
.tk-2:hover{
    background-color: #09a15c;
}


.box input{
    width: 1032px;
    height: 64px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin: 32px 284px;
    border: none;
}
/* subscribe starts here */
.subscribe{
    background-color: #C6E4D6;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 32px 300px;
    width: 1000px;
    height: 395px;
}
.subscribe input{
    border-radius: 8px;
    padding: 2px;
    width: 600px;
    height: 55px;
    margin: 32px 80px;
}
.subscribe h2{
    color: #0E0E0E;
    font-weight: 600;
    text-align: center;
}
.subscribe p{
    color: #808080;
    text-align: center;
}
.button{
    background-color: #006A50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}
footer h1{
    text-align: center;
}
footer .links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin-bottom: 50px;
}